<h3 class="page-header">
    <b>New Product</b>
</h3>
<form name="CreateForm" ng-submit="productCreate.Submit()" novalidate>
    <div class="row">
        <div class="form-group col-sm-6">
            <label for="productIDInput">Part Number</label>
            <input id="productIDInput" type="text" class="form-control" pattern="([A-Za-z0-9-_\/]+)" pattern-err-type="ID_Name" ng-model="productCreate.product.ID"
                ng-required="true" parse-slash />
        </div>
        <div class="col-sm-6 form-group">
            <label for="productNameInput">Short Description</label>
            <input id="productNameInput" type="text" class="form-control" ng-model="productCreate.product.Name" ng-required="true" parse-slash />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 form-group">
            <label for="productDescriptionInput">Long Description</label>
            <textarea id="productDescriptionInput" type="text" class="form-control" ng-model="productCreate.product.Description"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 form-group">
            <label for="productSAPDescriptionInput">SAP Description</label>
            <textarea id="productSAPDescriptionInput" type="text" class="form-control" ng-model="productCreate.product.xp['SAP Description']"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="productStatusInput">Status</label>
            <select id="productStatusInput" class="form-control" ng-model="productCreate.product.xp.Status" ng-required="true">
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
                <option value="Obsolete">Obsolete</option>
            </select>
        </div>
        <div class="col-md-6 form-group">
            <label for="productBrandInput">Brand Name</label>
            <input id="productBrandInput" type="text" class="form-control" ng-model="productCreate.product.xp['Brand Name']" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="productUPCInput">UPC Each</label>
            <input id="productUPCInput" type="text" class="form-control" ng-model="productCreate.product.xp['UPC Each']" />
        </div>
        <div class="col-md-6 form-group">
            <label for="productGroupInput">Product Group</label>
            <div class="row">
                <div class="col-xs-12 col-sm-7">
                    <select id="productGroupInput" class="form-control" ng-model="productCreate.product.xp['Product Group']" ng-required="true"
                        ng-options="option.ID as option.Name for option in productCreate.productGroupOptions.Items" />
                </div>
                <div class="col-xs-12 col-sm-5">
                    <a class="btn btn-default form-control" ng-click="productCreate.applyGroup()">Apply Group</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <uib-accordion close-others="true">
                <div uib-accordion-group class="panel-default" heading="{{group.Name}}" ng-repeat="group in productCreate.specGroups | orderBy:'Name'">
                    <div ng-repeat="spec in group.Specs | orderBy:'-Name'">
                        <label ng-if="spec.OptionCount == 0 || (spec.OptionCount > 0 && !spec.xp.Multiselect)">{{spec.Name}}</label>
                        <input type="text" class="form-control" ng-model="spec.Assignment.DefaultValue" ng-if="spec.OptionCount == 0" />
                        <select type="text" class="form-control" ng-options="option.ID as option.Value for option in spec.Options | orderBy: 'Value'" ng-model="spec.Assignment.DefaultOptionID"
                            ng-if="spec.OptionCount > 0 && !spec.xp.Multiselect"></select>
                        <uib-accordion close-others="false" ng-if="spec.OptionCount > 0 && spec.xp.Multiselect">
                            <br />
                            <div uib-accordion-group class="panel-default" heading="{{spec.Name}}">
                                <table class="table table-hover" style="width:auto !important;">
                                    <tbody class="no-matches">
                                        <tr ng-repeat="option in spec.Options track by $index" class="form-group">
                                            <td style="vertical-align:middle !important; padding:5px !important;">{{option.Value}}</td>
                                            <td style="vertical-align:middle !important; padding:5px !important;">
                                                <input name="{{'option_' + $index}}" type="checkbox" class="form-control" ng-change="productCreate.updateMultiSelect(spec)"
                                                    ng-model="productCreate.multiSelects[spec.ID][option.ID]">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </uib-accordion>
                    </div>
                </div>
            </uib-accordion>
        </div>
    </div>
    <div class="alert alert-warning" ng-show="!productEdit.product.xp.productAttributesComplete"><i class="fa fa-warning" /> This product is missing attribute values.</div>
    <!--<div class="row">-->
    <div class="ng-hide">
        <label for="productQuantityMultInput">Quantity Multiplier</label>
        <input id="productQuantityMultInput" type="number" pattern="^[0-9]*[1-9][0-9]*$" pattern-err-type="positiveInteger" ng-init="productCreate.product.QuantityMultiplier = 1"
            class="form-control" ng-model="productCreate.product.QuantityMultiplier" ng-required="true" />
    </div>
    <!--
        <div class="form-group col-sm-6">
            <label for="productShipWeightInput">Ship Weight</label>
            <input id="productShipWeightInput" type="number" step="any" class="form-control" ng-model="productCreate.product.ShipWeight"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="productTypeInput">Product Type</label>
            <select id="productTypeInput" class="form-control" ng-model="productCreate.product.Type" ng-required="true">
                <option value="Static">Static</option>
                <option value="VariableText">Variable Text</option>
                <option value="Kit">Kit</option>
            </select>
        </div>
        <div class="form-group col-sm-6">
            <label for="productInventoryInput">Inventory Notification Point</label>
            <input id="productInventoryInput" type="number" class="form-control" ng-model="productCreate.product.InventoryNotificationPoint"/>
        </div>
    </div>
    <div class="panel panel-default col-sm-6">
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-sm-6">
                    Inventory Options:
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="productInventory2Input">
                        <input id="productInventory2Input" type="checkbox" ng-model="productCreate.product.InventoryEnabled"/>
                        Track Inventory
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="productInventory3Input">
                        <input id="productInventory3Input" type="checkbox" ng-model="productCreate.product.VariantLevelInventory"/>
                        Variant Level Inventory
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="productInventory4Input">
                        <input id="productInventory4Input" type="checkbox" ng-model="productCreate.product.ExceedInventory"/>
                        Can Exceed Inventory
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="productInventory5Input">
                        <input id="productInventory5Input" type="checkbox" ng-model="productCreate.product.DisplayInventory"/>
                        Display Inventory
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
    </div>
    
    <div class="row">
        <div class="form-group col-sm-12">
            <label for="productActiveInput">
                <input id="productActiveInput" type="checkbox" ng-model="productCreate.product.Active"/>
                Active
            </label>
        </div>
    </div>-->
    <div class="form-group">
        <a class="btn btn-primary" ng-disabled="CreateForm.$invalid" ng-click="productCreate.Submit()">Save</a>
        <button type="button" class="btn btn-default" ui-sref="^">Cancel</button>
        <!--<button type="button" ng-click="productCreate.productCornucopia()" class="btn btn-primary">Create Tons of Products</button>-->
    </div>
</form>