<article id="COMPONENT_XL1Reps" ui-view class="container-fluid">
	<section class="page-header">
		<h3>
			<button type="button" class="btn btn-primary" ui-sref="home"><i class="fa fa-arrow-left" /></button> <b>XL1 Rep Administration</b>
		</h3>
	</section>

	<div class="row">
		<div class="col-xs-12">
			<div class="company" ng-repeat="(index, company) in XL1Reps.jsonModel">{{company.Company}}
				<button ng-click="XL1Reps.toggleOpenTeam(index)" class="btn btn-primary"><i class="fa fa-plus" /></button>
				<div class="location" ng-class="{'open': XL1Reps.openTeam == index }" uib-collapse="XL1Reps.openTeam !== index" ng-repeat="(index2, location) in company.Locations">{{location.Name}}
					<div class="member" ng-repeat="(index3, member) in location.Members">
						<div class="whiteBox">
							<label>Name</label><input type="text" class="form-control" ng-model="member.Name" ng-change="changesMade = true" />
							<br /><label>Username</label><input type="text" class="form-control" ng-model="member.Username" ng-change="XL1Reps.changesMade = true"
							/>
							<br /><button ng-show="changesMade" ng-click="XL1Reps.updateText()" class="btn btn-primary">Save All Changes <i class="fa fa-save" /></button>							<button ng-click="XL1Reps.deleteMember(index, index2, index3)" class="btn btn-danger">Delete Rep <i class="fa fa-trash" /></button>
						</div>
					</div>
					<div class="member"><button class="btn btn-success" ng-click="XL1Reps.addMember(index, index2)">Add Rep <i class="fa fa-plus" /></button>						<button class="btn btn-success" ng-click="XL1Reps.openModal(index, index2)">Paste Reps <i class="fa fa-list" /></button></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<textarea id="outputBox" class="form-control" ng-model="XL1Reps.outputText"></textarea>
		</div>
	</div>
	<div class="row">&nbsp;</div>
	<div class="row">
		<div class="col-xs-4">
			<button ng-click="XL1Reps.sortModel()" class="btn btn-primary btn-block">Alphabetize <i class="fa fa-sort-alpha-asc" /></button>
		</div>
		<div class="col-xs-4">
			<button ng-click="XL1Reps.copyJSON()" class="btn btn-default btn-block">Copy to Clipboard <i class="fa fa-clipboard" /></button>
		</div>
		<div class="col-xs-4">
			<button ng-click="XL1Reps.saveJSON()" class="btn btn-primary btn-block">Save Changes to Server <i class="fa fa-floppy-o" /></button>
		</div>
	</div>
	<div class="row">&nbsp;</div>
</article>

<script type="text/ng-template" id="XL1RepsModal.html">
	<div class="modal-header">
		Paste in Rep + Username Columns
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12 form-group">
				<textarea class="form-control" placeholder="Paste from spreadsheet..." ng-model="XL1RepsModal.modalSource" ng-change="XL1RepsModal.parseText()"></textarea>
			</div>
			<div class="col-md-6 form-group" ng-repeat="rep in XL1RepsModal.list">
				<input class="form-control" type="text" value="{{rep.Name}}" disabled />
			</div>
		</div>
	</div>

	<div class="category-modal-footer modal-footer">
		<button class="btn btn-primary" type="button" ng-click="XL1RepsModal.close()">Insert</button>
		<button class="btn btn-default" type="button" ng-click="XL1RepsModal.cancel()">Close</button>
	</div>
</script>