#COMPONENT_Home {
    background-color:@component-home-bg;

    header {
        text-align: center;
        background-color: fade(darken(@brand-success, 80%), 80%);
        color: white;
        position: relative;
        z-index: 1;
        .container {
            padding-top: 100px;
            padding-bottom: 50px;
        }
        img {
            display: block;
            margin: 0 auto 20px;
        }
        .intro-text {
            .name {
                display: block;
                font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 2em;
            }
            .skills {
                font-size: 1.25em;
                font-weight: 300;
            }
        }
    }
    
    @media(min-width:768px) {
        header {
            .container {
                padding-top: 200px;
                padding-bottom: 100px;
            }
            .intro-text {
                .name {
                    font-size: 4.75em;
                }
                .skills {
                    font-size: 1.75em;
                }
            }
        }
    }
    
    header:before{
        content: "";
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%; 
        height: 100%;  
        opacity: .4; 
        z-index: -1;
        background-image: url('../images/banner.jpg');
        background-size:cover;
        -webkit-filter: blur(8px); /* Safari 6.0 - 9.0 */
        filter: blur(8px);
    }

    #derps {
        .derps-item {
            margin: 0 0 15px;
            right: 0;
            .derps-link {
                display: block;
                position: relative;
                max-width: 400px;
                margin: 0 auto;
                .caption {
                    background: fade(@brand-success, 90%);
                    border-radius:15px;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: all ease 0.5s;
                    -webkit-transition: all ease 0.5s;
                    -moz-transition: all ease 0.5s;
                    &:hover {
                        opacity: 1;
                    }
                    .caption-content {
                        position: absolute;
                        width: 100%;
                        height: 20px;
                        font-size: 20px;
                        text-align: center;
                        top: 50%;
                        margin-top: -12px;
                        color: white;
                        i {
                            margin-top: -12px;
                        }
                        h3,
                        h4 {
                            margin: 0;
                        }
                    }
                }
            }
        }
        * {
            z-index: 2;
        }
      }
      
      .derps-modal {
          .modal-content {
              border-radius: 0;
              background-clip: border-box;
              -webkit-box-shadow: none;
              box-shadow: none;
              border: none;
              min-height: 100%;
              padding: 100px 0;
              text-align: center;
              h2 {
                  margin: 0;
                  font-size: 3em;
              }
              img {
                  margin-bottom: 30px;
              }
              .item-details {
                  margin: 30px 0;
              }
          }
          .close-modal {
              position: absolute;
              width:75px;
              height:75px;
              background-color:transparent;
              top: 25px;
              right: 25px;
              cursor: pointer;
              &:hover {
                  opacity: 0.3;
              }
              .lr {
                  height:75px;
                  width:1px;
                  margin-left:35px;
                  background-color:@brand-primary;
                  transform: rotate(45deg);
                  -ms-transform: rotate(45deg);
                  /* IE 9 */
                  -webkit-transform: rotate(45deg);
                  /* Safari and Chrome */
                  z-index:1051;
                  .rl {
                      height:75px;
                      width:1px;
                      background-color:@brand-primary;
                      transform: rotate(90deg);
                      -ms-transform: rotate(90deg);
                      /* IE 9 */
                      -webkit-transform: rotate(90deg);
                      /* Safari and Chrome */
                      z-index:1052;
                  }
              }
          }
          .modal-backdrop {
              opacity: 0;
              display: none;
          }
      }

    .rounded-corners{
        border-radius:15px;
    }

}