<article>
    <section class="page-header">
        <h3>
            <button type="button" class="btn btn-primary" ui-sref="^"><i class="fa fa-arrow-left" /></button> <b>{{productSpotlightBuyer.data.Buyer.Name}} - Product Spotlight Administration</b>
        </h3>

        <div class="row">
            <div class="col-sm-6">
                <label><b>Featured products: {{productSpotlightBuyer.featuredCount || 0}} <span ng-if="productSpotlightBuyer.featuredCount < 5" class="text-danger"> - Please feature at least 5 products!</span></b></label>
                <div class="input-group">
                    <label class="btn" ng-class="productSpotlightBuyer.data.Buyer.DisplaySeparators ? 'btn-success' : 'btn-default'" ng-model="productSpotlightBuyer.data.Buyer.DisplaySeparators" uib-btn-checkbox>Display Separators <i class="fa" ng-class="productSpotlightBuyer.data.Buyer.DisplaySeparators ? 'fa-check-square-o' : 'fa-square-o'" /></label>
                    <label class="btn" ng-class="productSpotlightBuyer.data.Buyer.DisplayArrows ? 'btn-success' : 'btn-default'" ng-model="productSpotlightBuyer.data.Buyer.DisplayArrows"  uib-btn-checkbox>Display Arrows <i class="fa" ng-class="productSpotlightBuyer.data.Buyer.DisplayArrows ? 'fa-check-square-o' : 'fa-square-o'" /></label>
                    <label class="btn" ng-class="productSpotlightBuyer.data.Buyer.DisplayRatings ? 'btn-success' : 'btn-default'" ng-model="productSpotlightBuyer.data.Buyer.DisplayRatings" uib-btn-checkbox>Display Ratings <i class="fa" ng-class="productSpotlightBuyer.data.Buyer.DisplayRatings ? 'fa-check-square-o' : 'fa-square-o'" /></label>
                </div>
            </div>
            <div class="col-sm-3">
                <label>Maximum Display Time</label>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default btn-number" ng-click="productSpotlightBuyer.subtract()">
                            <span><i class="fa fa-minus" /></span>
                        </button>
                    </div>
                    <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control input-number" ng-model="productSpotlightBuyer.data.Buyer.MaximumDisplayTime" min="1" max="45" />
                    <span class="input-group-addon" id="basic-addon">days</span>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default btn-number" ng-click="productSpotlightBuyer.add()">
                            <span><i class="fa fa-plus" /></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <label for="email">Notification Email Recipient</label>
                <input type="text" class="form-control" placeholder="Email Address" ng-model="productSpotlightBuyer.data.Buyer.Email" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label style="opacity:0;">Placeholder</label>
                <div class="input-group">
                    <button ng-click="productSpotlightBuyer.downloadTemplate()" class="btn btn-primary">Download Image Template</button>
                    <button class="btn btn-default" ng-click="productSpotlightBuyer.copyHTML()"><i class="fa fa-clipboard" /> Copy HTML</button>
                    <button class="btn btn-default" ng-click="productSpotlightBuyer.copyJavascript()"><i class="fa fa-clipboard" /> Copy Script URL</button>
                </div>
            </div>
            <div class="col-sm-6">
                <label for="colorpicker">Separator Color</label>
                <div id="colorpicker" class="input-group colorpicker-component">
                    <input type="text" class="form-control" value="{{productSpotlightBuyer.data.Buyer.SeparatorColor}}" />
                    <span class="input-group-addon"><i /></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label style="opacity:0;">Placeholder</label>
                <button class="btn btn-success btn-block" ng-disabled="!productSpotlightBuyer.changed" ng-click="productSpotlightBuyer.updateBuyerConfig()">Apply Changes</button>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <span id="sliderHolder"><productspotlight buyerid="{{productSpotlightBuyer.data.Buyer.ID}}"></productspotlight></span>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-sm-6">
                <label>Search:</label>
                <input type="search" class="form-control" placeholder="Search Products..." ng-model="productSpotlightBuyer.searchFilter" />
            </div>
            <div class="col-sm-6">
                <label style="opacity:0;">Placeholder</label>
                <button type="button" class="btn btn-success btn-block" ng-click="productSpotlightBuyer.createProduct()" ng-disabled="productSpotlightBuyer.creatingProduct"><i class="fa fa-plus-circle"></i> Create New Product</button>
            </div>
        </div>
        <div>
            <table class="table table-hover oc-table-responsive" controlleras="productSpotlightBuyer">
                <thead>
                    <tr>
                        <th scope="col">
                            Products
                            </a>
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="!productSpotlightBuyer.creatingProduct && !productSpotlightBuyer.data.Products.length">
                        <td colspan="4">
                            <div class="no-matches">
                                <b>No products found.</b>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="productSpotlightBuyer.creatingProduct">
                        <td>
                            <img ng-if="productSpotlightBuyer.newProduct.ProductImage.base64" ng-src="{{'data:image/png;base64,' + productSpotlightBuyer.newProduct.ProductImage.base64}}"
                                class="img-responsive img-thumbnail" style="max-height:200px;" />
                            <input id="input-id" type="file" class="file" ng-model='productSpotlightBuyer.newProduct.ProductImage' base-sixty-four-input
                                accept="image/*" />
                        </td>
                        <td>
                            <input type="text" class="form-control required" ng-model="productSpotlightBuyer.newProduct.ProductName" placeholder="Product Name"
                                required />
                            <input type="text" class="form-control required" ng-model="productSpotlightBuyer.newProduct.ProductID" placeholder="Product ID"
                                required />
                            <input type="text" class="form-control required" ng-model="productSpotlightBuyer.newProduct.ProductURL" placeholder="Product URL (Full link)"
                                required />
                        </td>
                        <td></td>
                        <td></td>
                        <td class="actions-cell">
                            <button ng-click="productSpotlightBuyer.cancelCreate()" class="btn btn-danger btn-sm">Cancel</button>
                            <button ng-click="productSpotlightBuyer.saveProduct()" class="btn btn-success btn-sm" ng-disabled="!productSpotlightBuyer.newProduct.ProductName || !productSpotlightBuyer.newProduct.ProductID || !productSpotlightBuyer.newProduct.ProductURL || !productSpotlightBuyer.newProduct.ProductImage.base64 || productSpotlightBuyer.processing">Save</button>
                        </td>
                    </tr>
                    <tr ng-if="productSpotlightBuyer.data.Products.length" ng-repeat="product in productSpotlightBuyer.data.Products | filter:productSpotlightBuyer.searchFilter | orderBy:'OrderBy' track by $index">
                        <td>
                            <img ng-src="{{'data:image/png;base64,' + product.ProductImage}}" class="img-responsive img-thumbnail" style="max-height:200px;"
                            />
                        </td>
                        <td>
                            <h4>{{product.ProductName}}</h4>
                            <h5>{{product.ProductID}}</h5>
                            <a ng-href="{{product.ProductURL}}" target="_blank">{{product.ProductURL}} <i class="fa fa-external-link" /></a>
                        </td>
                        <td>
                            <button class="btn btn-default" ng-click="productSpotlightBuyer.moveUp(product)" ng-if="product.OrderBy !== 0"><i class="fa fa-arrow-up" /></button>
                            <button class="btn btn-default" ng-click="productSpotlightBuyer.moveDown(product)" ng-if="product.OrderBy !== productSpotlightBuyer.data.Products.length - 1"><i class="fa fa-arrow-down" /></button>
                        </td>
                        <td>
                            <label class="btn" ng-class="product.Featured ? 'btn-success' : 'btn-default'" ng-model="product.modelMimic" ng-click="productSpotlightBuyer.toggleFeature(product)"
                                uib-btn-checkbox>Feature this product <i class="fa" ng-class="product.Featured ? 'fa-check-square-o' : 'fa-square-o'"
                                /></label>
                                <br /><span><h5><b>{{(product.Featured ? 'Featured since' : 'Not featured')}}<span ng-show="product.Featured" ng-class="productSpotlightBuyer.daysFeatured(product) - productSpotlightBuyer.data.Buyer.MaximumDisplayTime >= 0 ? 'text text-danger' : ''"> {{productSpotlightBuyer.dateify(product.FeaturedSince) | date: "shortDate" : "UTC-5" }} ({{productSpotlightBuyer.daysFeatured(product)}} day<span ng-if="productSpotlightBuyer.daysFeatured(product) !== 1">s</span>)</span>
                                </b>
                                </h5>
                                </span>
                        </td>
                        <td class="actions-cell">
                            <button ng-click="productSpotlightBuyer.deleteProduct(product)" class="btn btn-danger btn-sm"><i class="fa fa-trash" /> Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</article>