<article id="COMPONENT_ProductSpotlight" ui-view class="container-fluid">
    <div class="page-header">
        <button type="button" class="btn btn-success pull-right" ng-click="productSpotlight.createBuyer()"><i class="fa fa-plus-circle"></i> Create New</button>
        <h3>Product Spotlight Administration</h3>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <label>Search:</label>
            <div class="form-group">
                <input type="search" class="form-control" placeholder="Search Buyers..." ng-model="productSpotlight.searchFilter" />
            </div>
        </div>
    </div>

    <!--====== LIST ======-->
    <div class="no-matches" ng-if="!productSpotlight.list.length">
        <b>No matches found.</b>
    </div>
    <div ng-if="productSpotlight.list.length">
        <table class="table table-hover oc-table-responsive" controlleras="productspotlight">
            <thead>
                <tr>
                    <th scope="col">
                        Buyer Name
                        </a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="buyer in productSpotlight.list | orderBy:productSpotlight.Name track by $index">
                    <td class="part-number-td"> {{buyer.Name}}</td>
                    <td class="actions-cell">
                        <button ng-click="productSpotlight.deleteBuyer()" class="btn btn-danger btn-sm"><i class="fa fa-trash" /></button>
                        <button ui-sref=".buyer({buyerid:buyer.ID})" class="btn btn-success btn-sm">Products & Settings</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>