<configuration>
    <system.webServer>
	<iisnode nodeProcessCountPerApplication="1" debuggingEnabled="true" loggingEnabled="true" debugHeaderEnabled="true" devErrorsEnabled="true" nodeProcessCommandLine="%programfiles%\nodejs\node.exe" />         
      <handlers>
           <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
     </handlers>
      <rewrite>
           <rules>

                <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
                     <match url="^[a-zA-Z0-9_\-]+\.js\.logs\/\d+\.txt$" />
                </rule>

                <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">                    
                    <match url="^server.js\/debug[\/]?" />
                </rule>

                <rule name="StaticContent">
                     <action type="Rewrite" url="public{REQUEST_URI}" />
                </rule>

                <rule name="DynamicContent">
                     <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                     </conditions>
                     <action type="Rewrite" url="server.js" />
                    <match url=".*" />
                </rule>

           </rules>
      </rewrite>
        <httpProtocol allowKeepAlive="false">
            <customHeaders>
                <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS, PUT" />
                <add name="Access-Control-Allow-Headers" value="authorization, Content-Type, accept, access-control-allow-origin, x-api-applicationid" />
				<add name="Access-Control-Allow-Credentials" value="true" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
   </system.webServer>
 </configuration>