<article id="COMPONENT_Vote" ui-view class="container-fluid">
    <section class="page-header">
        <button type="button" class="btn btn-success pull-right" ng-click="vote.createBuyer()" ng-disabled="vote.creatingBuyer"><i class="fa fa-plus-circle"></i> Create New</button>
        <h3>
            <button type="button" class="btn btn-primary" ui-sref="home"><i class="fa fa-arrow-left" /></button> <b>Vote</b>
        </h3>
    </section>

    <div class="row">
        <div class="col-md-6 form-group">
            <label>Search:</label>
            <div class="form-group">
                <input type="search" class="form-control" placeholder="Search Polls..." ng-model="vote.searchFilter" />
            </div>
        </div>
    </div>

    <!--====== LIST ======-->
    <div class="no-matches" ng-if="!vote.list.length">
        <b>No polls found.</b>
    </div>
    <div ng-if="vote.list.length">
        <table class="table table-hover oc-table-responsive" controlleras="vote">
            <thead>
                <tr>
                    <th scope="col">
                        Poll Name
                        </a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="vote.creatingBuyer">
                    <td class="part-number-td">
                        <input type="text" class="form-control" ng-model="vote.newBuyer.Name" />
                    </td>
                    <td class="actions-cell">
                        <button ng-click="vote.cancelCreate()" class="btn btn-danger btn-sm">Cancel</button>
                        <button ng-click="vote.saveBuyer()" class="btn btn-success btn-sm">Save</button>
                    </td>
                </tr>
                <tr ng-repeat="buyer in vote.list | filter:vote.searchFilter | orderBy:buyer.Name track by $index">
                    <td class="part-number-td">{{buyer.Name}}</td>
                    <td class="actions-cell">
                        <button ng-click="vote.deleteBuyer(buyer.ID)" class="btn btn-danger btn-sm"><i class="fa fa-trash" /></button>
                        <button ui-sref=".buyer({buyerid:buyer.ID})" class="btn btn-success btn-sm">Products & Settings</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>