<aside id="BASE_LEFT" snap-drawer class="hidden-print">
    <a href="" ui-sref="home"><img src="assets/images/logo.jpg" class="img-responsive" /></a>
    <nav ng-if="base.navItems.length">
        <h4 class="text-white"><b>Navigation</b></h4>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" ng-repeat="item in base.navItems" ui-sref-active="active">
                <a href="" ui-sref="{{item.StateRef}}">{{item.Display}}</a>
            </li>
            <li ng-show="application.loading">
                <div class="spinner">
                    Processing changes...<br />
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </li>
        </ul>
    </nav>