<div class="img-border-panel {{imgGroup}}">
    <div class="ibp-row">
        <div class="ibp-cell ibp-tl"></div>
        <div class="ibp-cell ibp-t"></div>
        <div class="ibp-cell ibp-tr"></div>
    </div>
    <div class="ibp-row">
        <div class="ibp-cell ibp-l"></div>
        <div class="ibp-cell ibp-m img-border-panel-content" ng-transclude></div>
        <div class="ibp-cell ibp-r"></div>
    </div>
    <div class="ibp-row">
        <div class="ibp-cell ibp-bl"></div>
        <div class="ibp-cell ibp-b"></div>
        <div class="ibp-cell ibp-br"></div>
    </div>
</div>